<div class="main-container">
  <header>
    <div class="branding">
      <a href="/" class="nav-link">
        <img class="beer-rank-image" src="/assets/img/beer-icon.png" title="Beer Rank" />
        <span class="title">Beer Rank</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="/login" class="nav-link nav-text" *ngIf='!username'>
        Log In
      </a>
      <clr-dropdown *ngIf='username'>
        <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
          {{ username }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript:void(0);" (click)="logout()" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      ...
    </div>
  </div>
</div>
