<div class="main-container">
  <header>
    <div class="branding">
      <a href="/" class="nav-link">
        <img class="beer-rank-image" src="/assets/img/beer-icon.png" title="Beer Rank" />
        <span class="title">Beer Rank</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="/login" class="nav-link nav-text" *ngIf='!username'>
        Log In
      </a>
      <clr-dropdown *ngIf='username'>
        <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
          {{ username }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript:void(0);" (click)="logout()" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-6 clr-offset-2">
          <div class="clr-row">
            <h1 class="clr-col-6">{{ beer.title }}</h1>
            <h1 class="clr-col-2 beer-rank">{{ beer.rank }}</h1>
          </div>
          <div *ngIf="username" class="clr-row clr-col-9 clr-align-items-end clr-justify-content-around">
            <div>
              <clr-icon shape="star" size="36" *ngFor="let item of [].constructor(5); index as i"
                (click)="setRank(i + 1)" [ngClass]="{'is-solid': newRank>=i + 1}"></clr-icon>
            </div>
            <input clrInput placeholder="Add comment if you like!" name="newComment" [(ngModel)]="newComment" />
            <button class="btn btn-sm" (click)="submitReview()">Submit</button>
          </div>
          <div class="clr-row beer-img">
            <img [src]="beer.imageLink">
          </div>
        </div>
        <div class="clr-col-3">
          <p class="speech" *ngFor="let review of currentReviews">{{ review.comment }}</p>
        </div>
      </div>

    </div>
  </div>
</div>
