<div class="login-wrapper">
  <form class="login" [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
    <section class="title">
      <label>Sign Up to Beer Rank</label>
    </section>
    <div class="login-group">
      <clr-input-container>
        <input type="text" clrInput placeholder="Username" formControlName="username" required />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-password-container>
        <input type="password" clrPassword placeholder="Password" formControlName="password" required />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-password-container>
      <clr-password-container>
        <input type="password" clrPassword placeholder="Confirm Password" formControlName="confirmPassword" />
        <clr-control-error>Passwords must match!</clr-control-error>
      </clr-password-container>
      <div class="error active" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!signUpForm.valid">Sign Up</button>
    </div>
  </form>
</div>
